:root {
    --dark-gray: #181a1b;
}

body {
    background: var(--dark-gray);
    margin: 0;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 350px;
    height: 50px;

}

/* NAVBAR */
.logo {
    height: 100%;
    width: auto;
    color: white;
    /* overflow-x: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    /* background-color: red; */
    padding: 0px 10px 0px 10px;
}

nav {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: blue; */
    
}

nav ul li {
    display: inline;
    list-style: none;
    float: left;

}

nav li a {
    
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: #03ffe6;
    font-size: 20px;
}

.socials{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: rgb(5, 64, 142); */
}

.socials li{
    display: inline;
    list-style: none;


}

.socials li a{
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: #03ffe6;
    font-size: 20px;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: center;

}

.hero h1 {
    color: white;
    /* display: flex;
    justify-content: center; */
    text-align: center;

}

.hero h1 span {
    color: #03ffe6;

}

.hero p {
    /* text-align: center; */
    color: aliceblue;
}

.hero,
.projects,
.skills {
    background: #003856;

}