:root {
    --dark-gray: #181a1b;
    --dark-blue: #002333;
}

body {
    background: var(--dark-gray);
    min-width: 390px;
}

* {
    margin: 0%;
    
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: var(--dark-gray);
    position: relative;

}

#particles-js {
    width: 100%;
    height: 100%;
    /* z-index: 4; */
    /* background-color: #b61924; */
    /* background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; */
}

span {
    display: inline-block;
    margin-left: 5px;
}


.button {
    background-color: #4281A4;
    border-color: #000000;
    border-style: solid;
    border-width: .5px;
    
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
    margin-top: 10px;
    
}

.button a{

    text-decoration: none;
    color: white;
    font-weight:900
}


/* NAVBAR */
nav {

    z-index: 1;
    background-color: #002333;
    width: 100%;
    position: fixed;

    /* display: inline; */

    /* align-items: center; */
    min-height: 6vh;

    font-size: 1.4rem;
    /* justify-content: center; */


    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    place-items: center center;

    

    /* border: 10px solid yellow; */
    /* border: 5px solid red; */

}



.logo {
    /* z-index: 1;
    position: fixed;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 1.17em;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-color: 5px solid purple;

    

     
}


.github {
    width: 33px;
    height: auto;
}

.toggler {
    padding-inline-start: 0%;
    /* background-color: yellow; */


}

nav .center-links {

    letter-spacing: 2px;
    padding-top: .90%;
    padding-bottom: .90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;

    /* border: 10px solid yellow; */

}


nav .center-links .links {
    padding-inline-start: 0%;
}

nav ul li {
    display: inline;
    list-style: none;
    float: left;
}

nav li a {
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.switch {

    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}



/* HERO SECTION */
header .hero-text {
    border: 10px solid yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

header .hero-text h1 {
    font-size: 5rem;
}

header .hero-text .mini-sentence {
    font-size: 2.3rem;
}

header .hero-text ul {
    list-style-type: none;
    padding: 10px;
    display: flex;

}

header .hero-text ul li {
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;


}

header .social ul {
    justify-content: center;
    text-align: center;

}

.linkedin {
    width: 40px;
    height: auto;

}

.gmail-icon {
    width: 40px;
    height: auto;

}

/* ABOUT */
.about {

    color: white;
    background-color: #00244465;
    


}

.about .about-me {

    font-size: 1.3rem;
    letter-spacing: 2px;
    padding: 5rem;
    width: 66%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   


}

.about .about-me .img-me {

    padding-right: 5rem;
    align-items: center;
    display: flex;

    border: 10px solid yellow;



}

.about .about-me .about-text {

    width: 60%;
    border: 10px solid yellow;



}

.about .about-me .about-text h1 {
    text-align: left;
    padding-bottom: 1rem;
    letter-spacing: 2px;
    font-size: 3rem;

}




/* SKILLS */
.skills {


    /* background-color: #00244465; */

    letter-spacing: 2px;
    display: flex;
    /* letter-spacing: 2px; */
}

.skills .skill-content {
    padding: 5rem;
    width: 66%;

    margin: 0 auto;
    display: block;
    justify-content: space-between;
    text-align: center;
    

    color: white;




}

.skill-content h1{
    text-align: left;
}

.skills .skills-set {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    border: 10px solid yellow;
    place-items: center center;





}


.skills .skill-content h1 {
    padding-bottom: 1rem;
    font-size: 3rem;



}


.skills-set h3 {
    padding-bottom: 1rem;


    font-size: 1.7rem;
    font-weight: bolder;

}

.skills-set .frameworks {



    font-size: .85rem;
    font-weight: bolder;



}



/* PROJECTS */
.projects {

    background-color: #00244465;
    letter-spacing: 2px;
    display: flex;

}

.projects .proj-content {

    padding: 5rem;
    width: 66%;

    margin: 0 auto;
    display: block;
    justify-content: space-between;
    text-align: center;

    color: white;


}

.projects .proj-content h1 {


    padding-bottom: 1rem;
    font-size: 3rem;
    text-align: left;



}


.projects .proj-set {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    border: 10px solid yellow;
    place-items: center center;




}

.proj-cards {
    border-radius: 10px;
    background-color: #002333;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;

    height: 528px;
    /* min-width: 320px; */
    max-width: 320px;
    margin: 1rem;


}

.tools {

    padding-inline-start: 0%;
    list-style: none;
    text-align: center;
}

.tools p {
    font-weight: bolder;
    padding-top: 10px;

}

.tools li {

    display: inline;

}

.tools img {
    height: auto;
    width: 10%;
}


.proj-cards p {
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.15rem;



}

.proj-cards h3 {
    padding: 1rem;
    font-size: 1.7rem;
    text-align: center;
}



.proj-cards .frameworks {
    margin-bottom: 10px;
    font-size: 16px;
    padding-top: 1rem;


}

.img-cards{

}


.img1{

    background-image: url("img\pics\pfp1.png");
    background-size: cover;
    background-position: center;


}




/* CARDS */
.cards {
    background-color: #002333;


    height: 352px;
    min-width: 288px;
    max-width: 288px;

    padding: 1rem;
    margin: 1.5rem;





    
}

.cards p {
    list-style: none;
    text-align: center;
    padding-bottom: 10px;

}




.cards h3 {
    padding: 1rem;
}



/* media queries */

@media (max-width: 1250px) {

    /* HERO TITLE */
    header .hero-text h1 {
        font-size: 4rem;
    }

    header .hero-text .mini-sentence {
        font-size: 1.8rem;
    }


    /* ABOUT */
    .about .about-me {
        display: block;
        font-size: 1.3rem;
        letter-spacing: 2px;
        width: 80%;
        margin: 0 auto;


    }

    .about .about-me .img-me {
        margin: 0 auto;

        width: fit-content;
    }

    .about .about-text {
        margin: 0 auto;
        padding-top: 2rem;
    }

    .about .img-me {
        align-content: center;
    }

    .about .about-me .about-text h1 {

        text-align: center;
    }

    .about .about-me .about-text p {

        text-align: center;
    }

}


@media (max-width: 830px) {

    /* HERO */
    header .hero-text h1 {
        font-size: 2rem;
    }

    header .hero-text .mini-sentence {
        font-size: 1rem;
    }

    /* ABOUT */
    .about .about-me {
        display: block;
        font-size: 1.3rem;
        letter-spacing: 2px;
        width: 80%;
        margin: 0 auto;


    }

    .about .about-me .img-me {
        display: none;
    }

    .about .about-text {
        margin: 0 auto;
        padding-top: 2rem;
    }

    .about .img-me {
        align-content: center;
    }

    .about .about-me .about-text h1 {

        text-align: center;
    }

    .about .about-me .about-text p {

        text-align: center;
    }





}


@media (max-width: 500px) {

    /* nav */
    nav {
        display: none;
    }

    /* HERO */
    header .hero-text h1 {
        font-size: 1rem;
    }

    header .hero-text .mini-sentence {
        font-size: .5rem;
    }


    .linkedin {
        width: 30px;
        height: auto;

    }

    .gmail-icon {
        width: 30px;
        height: auto;

    }

    .github {
        width: 23px;
        height: auto;
    }


    /* ABOUT */

    .about .about-me {
        display: block;
        font-size: .9rem;
        letter-spacing: 2px;
        width: 80%;
        margin: 0 auto;


    }

    .about .about-me .img-me {
        display: none;
    }

    .about .about-text {
        margin: 0 auto;
        padding-top: 2rem;
    }

    .about .img-me {
        align-content: center;
    }

    .about .about-me .about-text h1 {
        font-size: 2rem;

        text-align: center;
    }

    .about .about-me .about-text p {

        text-align: center;
    }

}